.mgFlexBase{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

body{
    background: lightblue;
}

.mgFlexItem {
    flex: 1 1;
    min-width: 300px;
    max-width: 460px;
    /* border-radius: 15px; */
    /* border: #ddd 1px solid; */
    background: linear-gradient(0deg, rgb(214, 214, 214) 0%, rgb(247, 247, 247) 46%);


    display: flex;
    flex-direction: column;
    
}

.mgFlexItem>div{

}

.mgFlexItem>div>img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}


.mgFlexFullWidth{
    flex: 1 100%;
}

@media all and (min-width: 1200px) {
    .mgFlexItem {
        flex: 1 360px;
        min-width: 360px;
        max-width: 360px;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .mgFlexItem {
        flex: 1 460px;
        min-width: 460px;
        max-width: 460px;
    }
}

@media all and (min-width: 650px) and (max-width: 992px) {
    .mgFlexItem {
        flex: 1 45%;
        min-width: 45%;
        max-width: 45%;
    }
}


@media all and (max-width: 650px) {
    .mgFlexItem {
        flex: 1 100%;
        min-width: 100%;
        max-width: 100%;
    }
}





.title {
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px 10px;
    font-weight: bold;
}

.text{
    font-size: 18px;
    padding: 0px 10px;
}

.litleTitle{
    padding: 0px 10px;
}

.hinweis {
    background: darkred;
    color: white;
    text-align: center;
    padding-top: 4px;
}